:root {
  --button-hover: #2929AB;
  --button-default: #5E5ED0;
  --background-default: #17181c;
}

.fill {
  transition: all .4s ease;
  padding: 12px 28px;
  background-color: var(--background-default);
  color: var(--button-default);
}

.fill:hover {
  background-color: var(--button-hover);
  color: white;
}

.fill:hover, .fill:focus {
  border-color: var(--button-hover);
  color: white;
}
