:root {
    --button-hover: #20c20e;
    --button-default: #71E664;
    --background-default: #17181c;
    --header-background: #333;    
  }
  

keyword {
    font-weight: bold;
    color: var(--button-default)
}

.table {    
    font-size: 18px;
}

.table-title {    
    font-weight: bold;
    color: var(--button-default)
}

.table-link {
    color: white;
}

.table-row {
    vertical-align: top;    
    height: 80px;
}

a:visited {
    color: white;
}

a:hover {
    color: blueviolet;
}

a:link {
    color: white;
}

.section-container{
    min-width: 30%;
    margin-bottom: 50px;
}

.project{
    min-width: 30%;
    margin-bottom: 100px;
    height: 300px;
}

.section-title {
    color: var(--button-default);
    font-size: 24px;
    font-weight: bold;    
    text-align: left;
    padding-bottom: 20px;
    
    text-decoration: underline;
    text-decoration-color: white;
}

.section-text {
    text-align: justify;    
    font-size: 18px;
}

.section-container hr {
    text-align: left;
    margin-top: -5px;
    margin-left: 0;
    max-width: 120px;
}

subtitle {
    font-weight: bold;
    font-style: italic;
}


