:root {
    --button-hover: #2929AB;
    --button-default: #5E5ED0;
    --background-default: #17181c;
    --header-background: #333;    
  }
  

.text {
    padding-left: 25%;
    padding-right: 25%;
    text-align: justify;    
    font-size: 18px;
}

keyword {
    font-weight: bold;
    color: var(--button-hover)
}

.table {
    text-align: left;    
    font-size: 18px;
}

.table-link {
    padding-left: 30px;
    color: white;
}

.table-row {
    height: 30px;
}

a:visited {
    color: white;
}

a:hover {
    color: blueviolet;
}

a:link {
    color: white;
}

.project-name {
    color: var(--button-hover);
    font-size: 24px;
    font-weight: bold;    
    text-align: left;
}
