:root {
    --button-hover: #20c20e;
    --button-default: #71E664;
    --background-default: #17181c;
    --header-background: #333;    
  }
  

.text {
    padding-left: 25%;
    padding-right: 25%;
    text-align: justify;    
    font-size: 18px;
}

keyword {
    font-weight: bold;
    color: var(--button-default)
}

.table {    
    font-size: 18px;
}

.table-title {
    font-weight: bold;
    color: var(--button-default)
}

.table-link {
    color: white;
}

.table-row {
    height: 30px;
    height: 80px;
}

a:visited {
    color: white;
}

a:hover {
    color: blueviolet;
}

a:link {
    color: white;
}

.project{
    margin-bottom: 50px;
}

.project-name {
    color: var(--button-default);
    font-size: 24px;
    font-weight: bold;    
    text-align: left;
}
